<div id="presentation" class="jumbotron">
  <p class="p-pres">
    Développeur <span class="alpha">web/mobile</span> passionné par toutes les technologies innovantes,
    travaillant aussi
    bien sur des
    technologies web que desktop.
  </p>
  <p class="p-pres lambda">
    Mon parcours hétérogène m’a permis d’acquérir une ouverture d’esprit propice à
    l’innovation et les relations dont ont besoin tout entrepreneur.
  </p>
  <span style="font-size: 30px;" class="lambda">
    Element a voir
  </span>
</div>
<p class="p-pres">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente porro voluptatem blanditiis ad corporis sed ipsam dignissimos repellat natus! Voluptatibus mollitia, distinctio vero temporibus enim at soluta illo molestias.
</p>