<div class="container-fluid">
  <div id="entete" class="text-center">
    <div class="row">
      <div class="col-sm-3">
        <div style="height: 150px; width: 150px;">
          <img class="img-fluid rounded-circle" [src]="maPhoto" alt="ma photo">
        </div>
      </div>
      <div class="col-sm-9">
        <h1>
          <span class="text-info">
            {{monNom}}
            <span class="badge badge-primary">{{monNiveau}}</span>
          </span>
        </h1>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  <div id="contact">
    <div id="liens">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="http://cv.ouatrahim.com" target="_blank" rel="noopener noreferrer">Mon jolie CV</a>
        </li>
        <li class="list-group-item">
          <a href="http://gitlab.com/ouatrahim" target="_blank" rel="noopener noreferrer">Mon gitlab</a>
        </li>
        <li class="list-group-item">
          <a href="http://www.linkedin.com/in/ouatrahim/" target="_blank" rel="noopener noreferrer">
            Mon linkedin
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ol class="list-group">
        <li class="list-group-item list-group-item-info">
          Mon email: &nbsp; <a href="mailto:rahim.ouattara@bit-bf.com">rahim.ouattara@bit-bf.com</a>
        </li>
        <li id="numtelephone" class="list-group-item list-group-item-primary">
          <!-- Mon numero de telephoen: <strong>+22663121724</strong> -->
          Mon telephone: <a href="tel:+22663121724">63121724</a>
        </li>
      </ol>
    </div>
  </div>
  <app-presentation></app-presentation>
  <app-formations></app-formations>
  <app-experiences></app-experiences>
  <app-centre-interet></app-centre-interet>
  <app-formulaire-contact></app-formulaire-contact>
  <app-autres-codes></app-autres-codes>
</div>