<div id="formations" class="lambda">
  <h3>FORMATIONS</h3>
  <div class="table-responsive pr-4 pl-4 mt-3 mb-4">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Lieu</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2009 - 2010</td>
          <td>College</td>
          <td>Baccalaureat</td>
          <td>
            <button disabled="disabled" class="btn btn-success btn-lg">Supprimer</button>
          </td>
        </tr>
        <tr>
          <td class="active">
            2010 - 2012
          </td>
          <td>Lycée</td>
          <td>Classe Préparatoire ecoles ingenieurs</td>
          <td><button class="btn btn-outline-primary">Supprimer</button></td>
        </tr>
        <tr>
          <td>2012 - 2015</td>
          <td>Polytech Paris sud</td>
          <td>Formation ingénieur</td>
          <td><button class="btn btn-block">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>